[submodule "ws"]
	path = ws
	url = https://github.com/sofwerx/synthetic-target-websvcs
[submodule "lib/swx/triangulator"]
	path = lib/swx/triangulator
	url = https://github.com/sofwerx/synthetic-target-triangulator
[submodule "lib/swx/object_lob"]
	path = lib/swx/object_lob
	url = https://github.com/sofwerx/synthetic-target-line-of-bearing
[submodule "orient"]
	path = orient
	url = https://github.com/sofwerx/orient
[submodule "lib/swx/cot"]
	path = lib/swx/cot
	url = git@github.com:sofwerx/push-cursor-on-target.git
