[submodule "get-webRTC-sensor-data"]
	path = get-webRTC-sensor-data
	url = https://github.com/sofwerx/orient
[submodule "ws"]
	path = ws
	url = https://github.com/sofwerx/synthetic-target-websvcs
[submodule "lib/swx/triangulator"]
	path = lib/swx/triangulator
	url = https://github.com/sofwerx/synthetic-target-triangulator
[submodule "lib/swx/object_lob"]
	path = lib/swx/object_lob
	url = https://github.com/sofwerx/synthetic-target-line-of-bearing
